.sign-in-page {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}
.sign-in-buttons-container {
  width: 40vw;
  border: 1px solid black;
  border-radius: 10px;
}
.sign-in-buttons-container h2 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 50px;
}

.provider-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.provider-button {
  height: 40px;
  width: 50%;
  background-color: inherit;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px 0;
}

.provider-button:hover {
  box-shadow: 0 0 5px #333;
}
